<a href="https://colab.research.google.com/github/devyFatmawati/PDA/blob/main/PDA%20%20(%20RFM%20Data%20Transaksi%20).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

from yellowbrick.cluster import silhouette_visualizer
from yellowbrick.cluster.elbow import kelbow_visualizer

In [ ]:
# mengimport data
df_tp = pd.read_csv('transaksi_pelanggan.csv')

In [ ]:
df_tp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_customer                150 non-null    int64
 1   cabang                     150 non-null    object
 2   mempunyai_usaha            150 non-null    object
 3   lama_menjadi_customer      150 non-null    int64
 4   umur                       150 non-null    int64
 5   pendapatan                 150 non-null    int64
 6   lama_bekerja               124 non-null    float64
 7   sumber_dana                135 non-null    object
 8   jumlah_transaksi           150 non-null    int64
 9   n_hari_terakhir_transaksi  150 non-null    int64
 10  nilai_transaksi            150 non-null    int64
 11  profesi                    150 non-null    object
 12  jumlah_tanggungan          45 non-null     float64
dtypes: float64(2), int64(7), object(4)
memory usage: 15.4+ KB

In [ ]:
df_tp.head()

,id_customer,cabang,mempunyai_usaha,lama_menjadi_customer,umur,pendapatan,lama_bekerja,sumber_dana,jumlah_transaksi,n_hari_terakhir_transaksi,nilai_transaksi,profesi,jumlah_tanggungan
0,1,TANJUNGPINANG TIMUR,Ya,24,27,76315780395,23.0,Gaji,4,3,5286900,TNI / POLRI,NaN
1,2,MAHAMERU,Tidak,10,22,44579620,9.0,Gaji,4,29,435200,Pelajar / Mahasiswa,NaN
2,3,BRASTAGI,Ya,16,47,65664162044,17.0,Hasil Usaha,15,25,97689000,Petani,NaN
3,4,TANJUNG MORAWA,Tidak,25,44,31830267,NaN,Hasil Usaha,6,17,7915200,Ibu Rumah Tangga,2.0
4,5,SUZUYA PLAZA,Tidak,8,39,35495225,16.0,Gaji,29,18,45360900,Profesional,NaN

Untuk tipe data dapat dilihat dari output

1.   Tipe data nominal merupakan data diskrit dan tidak memiliki urutan. Data nominal hanya berisi atribut atau nama. Seperti variabel cabang dan profesi

2.  Tipe Data Ordinal yaitu data yang menunjukkan perbedaan tingkatan subjek secara kuantitatif. Seperti variabel cabang yang diurutkan berdasarkan lama_menjadi_customer

3. Tipe data interval yaitu data yang memiliki jarak yang sama anta
4. Tipe data rasio merupakan data yang dipengaruhi data yang lain. seperti variable pendapatanyang dipengaruhi oleh variable mempunyai usaha, dimana jika mempunyai usaha akan memiliki pendapatan yang lebih besar dibanding yang tidak memiliki usaha

# B. central tendencies setiap variabel

In [ ]:
df_tp.describe()

,id_customer,lama_menjadi_customer,umur,pendapatan,lama_bekerja,jumlah_transaksi,n_hari_terakhir_transaksi,nilai_transaksi,jumlah_tanggungan
count,150.000000,150.000000,150.000000,1.500000e+02,124.000000,150.000000,150.000000,1.500000e+02,45.000000
mean,75.500000,13.600000,37.833333,2.516100e+10,15.088710,8.173333,181.393333,1.507961e+07,14.222222
std,43.445368,7.345729,11.811391,3.141334e+10,8.517807,9.820364,129.576486,2.913841e+07,18.765162
min,1.000000,1.000000,18.000000,3.083562e+06,2.000000,1.000000,1.000000,3.980000e+04,1.000000
25%,38.250000,8.000000,29.000000,4.829213e+07,7.000000,2.000000,30.250000,8.792250e+05,2.000000
50%,75.500000,14.500000,35.000000,3.757912e+09,16.000000,4.500000,249.000000,5.395750e+06,7.000000
75%,112.750000,20.000000,43.000000,4.947510e+10,22.250000,10.000000,291.000000,1.392570e+07,18.000000
max,150.000000,25.000000,82.000000,9.992396e+10,30.000000,63.000000,430.000000,1.872440e+08,100.000000

#C. Handle Missing Value

In [ ]:
df_tp.isnull().sum()

id_customer                    0
cabang                         0
mempunyai_usaha                0
lama_menjadi_customer          0
umur                           0
pendapatan                     0
lama_bekerja                  26
sumber_dana                   15
jumlah_transaksi               0
n_hari_terakhir_transaksi      0
nilai_transaksi                0
profesi                        0
jumlah_tanggungan            105
dtype: int64

In [ ]:
import math
df_tp['lama_bekerja'].fillna(math.floor(df_tp['lama_bekerja'].mean()), inplace=True)
df_tp['jumlah_tanggungan'].fillna(math.floor(df_tp['jumlah_tanggungan'].mean()), inplace=True)

In [ ]:
df_tp.isnull().sum()
#sumber dana menggunakan tipe data object

id_customer                   0
cabang                        0
mempunyai_usaha               0
lama_menjadi_customer         0
umur                          0
pendapatan                    0
lama_bekerja                  0
sumber_dana                  15
jumlah_transaksi              0
n_hari_terakhir_transaksi     0
nilai_transaksi               0
profesi                       0
jumlah_tanggungan             0
dtype: int64

In [ ]:
df_tp.head(10)

,id_customer,cabang,mempunyai_usaha,lama_menjadi_customer,umur,pendapatan,lama_bekerja,sumber_dana,jumlah_transaksi,n_hari_terakhir_transaksi,nilai_transaksi,profesi,jumlah_tanggungan
0,1,TANJUNGPINANG TIMUR,Ya,24,27,76315780395,23.0,Gaji,4,3,5286900,TNI / POLRI,14.0
1,2,MAHAMERU,Tidak,10,22,44579620,9.0,Gaji,4,29,435200,Pelajar / Mahasiswa,14.0
2,3,BRASTAGI,Ya,16,47,65664162044,17.0,Hasil Usaha,15,25,97689000,Petani,14.0
3,4,TANJUNG MORAWA,Tidak,25,44,31830267,15.0,Hasil Usaha,6,17,7915200,Ibu Rumah Tangga,2.0
4,5,SUZUYA PLAZA,Tidak,8,39,35495225,16.0,Gaji,29,18,45360900,Profesional,14.0
5,6,SIMPANG LIMUN,Tidak,9,39,62045804,17.0,Gaji,10,18,35144000,Lainnya,14.0
6,7,PERJUANGAN,Tidak,8,29,15503648,5.0,Gaji,28,2,46139000,Karyawan Swasta,14.0
7,8,KISARAN,Tidak,16,51,67858819,9.0,Gaji,4,46,900600,Ibu Rumah Tangga,14.0
8,9,KISARAN,Tidak,11,51,3083562,11.0,Hasil Usaha,4,46,900600,Ibu Rumah Tangga,14.0
9,10,PORSEA,Tidak,11,56,36044925,8.0,Gaji,6,28,30739800,Ibu Rumah Tangga,2.0

#E. Segmentasi menggunakan teknik clustering terhadap RFM

In [ ]:
#Recency
#n_hari_terakhir_transaksi sebagai recency

df_recency = pd.DataFrame(df_tp.groupby('cabang')['n_hari_terakhir_transaksi'].max()).reset_index()
df_recency.head()

               cabang  n_hari_terakhir_transaksi
0             36 ILIR                          2
1            ADE IRMA                        277
2         AEK KENOPAN                        258
3               AJAMU                        294
4   ALANG ALANG LEBAR                         11

In [ ]:
df_recency['n_hari_terakhir_transaksi'] = pd.to_numeric(df_recency['n_hari_terakhir_transaksi'])
df_recency['recency'] =  (pd.to_numeric('500') - df_recency["n_hari_terakhir_transaksi"])
df_recency['recency'] = pd.to_numeric(df_recency['recency'], downcast='integer')
df_recency

                 cabang  n_hari_terakhir_transaksi  recency
0               36 ILIR                          2      498
1              ADE IRMA                        277      223
2           AEK KENOPAN                        258      242
3                 AJAMU                        294      206
4     ALANG ALANG LEBAR                         11      489
..                  ...                        ...      ...
120             VETERAN                        277      223
121        S AHMAD YANI                        157      343
122           S BONTANG                         67      433
123       S RADIN INTAN                        430       70
124     S RANTAU PRAPAT                        262      238

[125 rows x 3 columns]

In [ ]:
#Frequency
#jumlah_transaksi sebagai frequency
df_frequency = pd.DataFrame(df_tp.groupby('cabang')['jumlah_transaksi'].count()).reset_index()
df_frequency

                 cabang  jumlah_transaksi
0               36 ILIR                 1
1              ADE IRMA                 2
2           AEK KENOPAN                 1
3                 AJAMU                 1
4     ALANG ALANG LEBAR                 1
..                  ...               ...
120             VETERAN                 1
121        S AHMAD YANI                 1
122           S BONTANG                 1
123       S RADIN INTAN                 1
124     S RANTAU PRAPAT                 1

[125 rows x 2 columns]

In [ ]:
#Monetary
#nilai_transaksi sebagai monetary
df_tp["monetary"] = (df_tp['nilai_transaksi'] * df_tp['jumlah_transaksi']) \
                                        -  (df_tp['lama_menjadi_customer'] * df_tp['jumlah_transaksi'])

In [ ]:
df_tp.head()

,id_customer,cabang,mempunyai_usaha,lama_menjadi_customer,umur,pendapatan,lama_bekerja,sumber_dana,jumlah_transaksi,n_hari_terakhir_transaksi,nilai_transaksi,profesi,jumlah_tanggungan,monetary
0,1,TANJUNGPINANG TIMUR,Ya,24,27,76315780395,23.0,Gaji,4,3,5286900,TNI / POLRI,14.0,21147504
1,2,MAHAMERU,Tidak,10,22,44579620,9.0,Gaji,4,29,435200,Pelajar / Mahasiswa,14.0,1740760
2,3,BRASTAGI,Ya,16,47,65664162044,17.0,Hasil Usaha,15,25,97689000,Petani,14.0,1465334760
3,4,TANJUNG MORAWA,Tidak,25,44,31830267,15.0,Hasil Usaha,6,17,7915200,Ibu Rumah Tangga,2.0,47491050
4,5,SUZUYA PLAZA,Tidak,8,39,35495225,16.0,Gaji,29,18,45360900,Profesional,14.0,1315465868

In [ ]:
df_monetary = pd.DataFrame(df_tp.groupby('cabang')['monetary'].sum()).reset_index()

In [ ]:
df_monetary.head(10)

               cabang    monetary
0             36 ILIR    38742858
1            ADE IRMA  1676640704
2         AEK KENOPAN       63791
3               AJAMU      118986
4   ALANG ALANG LEBAR   128295986
5             ANAMBAS   835986756
6        ANWAR SASTRO   547248504
7      ASRAMA SYARIAH     1043968
8              AVIARI    12881524
9          BAGAN BATU   138159936

In [ ]:
fig = make_subplots(rows=1, cols=3, subplot_titles=("Recency", "Frequency", "Monetary"))

fig.add_trace(go.Box(y=df_recency, boxpoints="all"), row=1, col=1)
fig.add_trace(go.Box(y=df_frequency, boxpoints="all"), row=1, col=2)
fig.add_trace(go.Box(y=df_monetary, boxpoints="all"), row=1, col=3)

fig.update_layout(showlegend=False)
fig.show()

In [ ]:
fig = make_subplots(rows=1, cols=3, subplot_titles=("Recency", "Frequency", "Monetary"))

fig.add_trace(go.Box(y=df_recency['recency'], boxpoints="all"), row=1, col=1)
fig.add_trace(go.Box(y=df_monetary['monetary'], boxpoints="all"), row=1, col=3)

fig.update_layout(showlegend=False)
fig.show()

In [ ]:
df_RFM = df_recency.merge(df_frequency, left_on="cabang", right_on="cabang").\
                             merge(df_monetary, left_on="cabang", right_on="cabang")

In [ ]:
df_RFM.head(5)

,cabang,n_hari_terakhir_transaksi,recency,jumlah_transaksi,monetary
0,36 ILIR,2,498,1,38742858
1,ADE IRMA,277,223,2,1676640704
2,AEK KENOPAN,258,242,1,63791
3,AJAMU,294,206,1,118986
4,ALANG ALANG LEBAR,11,489,1,128295986

In [ ]:
df_RFM.columns = ["cabang",	"hari terakhir transaksi",	"recency",	"frequency", "monetary"]

In [ ]:
df_RFM.head(5)

               cabang  hari terakhir transaksi  recency  frequency    monetary
0             36 ILIR                        2      498          1    38742858
1            ADE IRMA                      277      223          2  1676640704
2         AEK KENOPAN                      258      242          1       63791
3               AJAMU                      294      206          1      118986
4   ALANG ALANG LEBAR                       11      489          1   128295986

In [ ]:
def get_R_score(recency):
# 0.25    248.0
# 0.50    263.0
# 0.75    298.0

  if recency >= 0 and recency <= 248.0:
    return 1
  elif recency > 248.0 and recency <= 263.0:
    return 2
  elif recency > 263.0 and recency <= 298.0:
    return 3
  elif recency > 298:
    return 4

def get_F_score(frequency):
  # 0.25    11.0
  # 0.50    20.0
  # 0.75    31.0
  if frequency >= 0 and frequency <= 11.0:
    return 1
  elif frequency > 11.0 and frequency <= 20.0:
    return 2
  elif frequency > 20.0 and frequency <= 31.0:
    return 3
  elif frequency > 31:
    return 4


def get_M_score(monetary):
  # 0.25     3361.00
  # 0.50     7553.80
  # 0.75    18136.35
  if monetary >= 0 and monetary <= 3361.0:
    return 1
  elif monetary > 3361.0 and monetary <= 7553.0:
    return 2
  elif monetary > 7553.0 and monetary <= 18136.0:
    return 3
  elif monetary > 18136:
    return 4

In [ ]:
df_RFM["R_score"] = df_RFM.apply(lambda x:get_R_score(x["recency"]), axis=1)

In [ ]:
df_RFM["F_score"] = df_RFM.apply(lambda x:get_F_score(x["frequency"]), axis=1)

In [ ]:
df_RFM["M_score"] = df_RFM.apply(lambda x:get_M_score(x["monetary"]), axis=1)

In [ ]:
df_RFM.head(5)

,cabang,hari terakhir transaksi,recency,frequency,monetary,R_score,F_score,M_score
0,36 ILIR,2,498,1,38742858,4,1,4
1,ADE IRMA,277,223,2,1676640704,1,1,4
2,AEK KENOPAN,258,242,1,63791,1,1,4
3,AJAMU,294,206,1,118986,1,1,4
4,ALANG ALANG LEBAR,11,489,1,128295986,4,1,4

In [ ]:
X_train = df_tp.iloc[:, 1:4].values
X_train.shape

(150, 3)